<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
        </script>
        <meta charset="utf-8" />
        <meta http-equiv="refresh" content="5">
        <title>TOTEM</title>

        <style>
            html, body {
                margin:0;
                padding:0;
            
                background: skyblue;
                color: #FFFFFF;
                font-size: 2em;
                text-align: center;
            }
        
            img {
                display: block;
                width: 452px;
                height: 600px;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <h1>TOTEM</h1>
        <img src="/uploads/image.jpg"/>
    </body>
</html>